@font-face {
  font-family: 'Moggen';
  src: url('https://file.garden/aJ-V1e3UNxArbraS/fonts/moggen.regular.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vellara';
  src: url('https://file.garden/aJ-V1e3UNxArbraS/fonts/vellara.personal-use.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Warren';
  src: url('https://file.garden/aJ-V1e3UNxArbraS/fonts/warren.regular.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Transcity';
  src: url('https://file.garden/aJ-V1e3UNxArbraS/fonts/transcity.regular.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Orange Avenue';
  src: url('https://file.garden/aJ-V1e3UNxArbraS/fonts/orange-avenue-demo.regular.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Puritan';
  src: url('https://file.garden/aJ-V1e3UNxArbraS/fonts/puritan.regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('https://file.garden/aJ-V1e3UNxArbraS/fonts/lato.regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('https://file.garden/aJ-V1e3UNxArbraS/fonts/playfair-display.regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('https://file.garden/aJ-V1e3UNxArbraS/fonts/poppins.regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Balery';
  src: url('https://file.garden/aJ-V1e3UNxArbraS/fonts/balery-demo.regular.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('https://file.garden/aJ-V1e3UNxArbraS/fonts/Lora-Regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body .cpkrs2  {
    margin: auto;
    }

    body.day .cpkrs2, body.day .cpkrs2 {
    --background-cpkrs2: #e9e9e954 !important;
    --background-cpkrsub:#3a3a3a !important;
    --background-shadow:#1c1c1c24 !important;
    }

    body.night .cpkrs2, body.night .cpkrs2 {
    --background-cpkrs2: #0000001f !important;
    --background-cpkrsub:rgb(209, 208, 208) !important;
    --background-shadow:#1c1c1c !important;
    }

.cpkrs2 {
    width: 500px;
    margin: auto;
    padding: 40px;
    background-color: var(--background-cpkrs2);
    box-shadow:0 0 0 15px var(--background-shadow);
    border:1px solid var(--accent);
    outline: 1px solid var(--background-cpkrs2);
    outline-offset: 7px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cpkrs2 .cpkrs2-title {
    width: auto;
    text-align: left;
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 45px;
    font-family: 'Playfair Display';
    color: var(--accent);
    margin-right: 82px;
    letter-spacing: 2px;
    grid-column: 2/5;
}

.cpkrs2 .cpkrs2-title2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
    font-family: 'Playfair Display';
    color: var(--accent);
    margin-left:40px;
    letter-spacing: 2px;
    grid-column: 2/4;
    padding-bottom:15px;
    padding-top:20px;
}

.cpkrs2 .cpkrs2-subtitle {
    text-align: center;
    padding-top:5px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color:var(--background-cpkrsub);
    font-size: 10px;
    font-style:italic;
    letter-spacing: 2px;
    font-weight: bold;
    grid-column: 2/4;
}

.cpkrs2 .cpkrs2-text {
    text-align: justify;
    padding: 10px;
    padding-top: 30px;
    grid-column: 1/5;
    font-family:'Lora';
    line-height:25px;
}

.cpkrs2 .cpkrs2-text::first-letter {
  font-size: 50px;
  float:left;
  padding-right:12px;
  padding-bottom:5px;
  margin-top:5px;
  font-style: italic;
  line-height: 40px;
  font-family: 'Playfair Display';
  color:var(--accent);
}

.cpkrs2 .cpkrs2-dts {
  margin-top:20px;
  background-color: rgba(37, 37, 37, 0.39);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.cpkrs2 .cpkrs2-ft {
 grid-column: 1/2;
 grid-row: 1/2
}

.cpkrs2 .cpkrs2-otros {
  grid-column:2/2;
  grid-row:2/3;
}

.cpkrs2 .cpkrs2-otros span {
  padding:20px;
}
